@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html,
body,
main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background: var(--background);
}
